* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    min-height: 100dvh;
    align-items: center;
    justify-content: center;
    background-color: #f7f8f7;
}

.container {
    width: 100%;
    padding: 2rem;
    max-width: 420px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: -1px 4px 5px rgba(0, 0, 0, 0.1);
}

.title {
    color: #333;
    font-size: 1.7rem;
    font-weight: 500;
    padding-bottom: 15px;
}

.message-error {
    display: block;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    padding: 15px 16px;
    border-radius: 5px;
    margin-bottom: 15px;
    color: #fa6a6a;
    border: 1px solid #f1aeb5;
    background-color: #f8d7da;
}

form .field-names {
    gap: 20px;
    display: flex;
    align-items: center;
}

form .field-line {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: 15px;
}

form label {
    color: #444;
    font-size: 15px;
    margin-bottom: 3px;
}

form .field-line input {
    height: 45px;
    width: 100%;
    padding: 0 15px;
    font-size: 16px;
    border: 1px solid #ccc;
}

form .field-line .bx-show {
    color: #777;
    font-size: 1.4rem;
    cursor: pointer;
    position: absolute;
    top: 65%;
    right: 15px;
    transform: translateY(-50%);
}

form .field-file {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

form .field-file input {
    border: none;
    font-size: 16px;
    padding: 0;
    margin-bottom: 0;
}

form .field-line button {
    border: none;
    height: 50px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    background-color: #333;
}

.container .line {
    color: #333;
    font-size: 1.1rem;
    font-weight: 500;
    text-align: center;
    margin-top: 5px;
}

.container .line a {
    color: #555;
    transition: all .3s ease;
}

.container .line a:hover {
    text-decoration: underline;
}